html {
  height: 100%;
  width: 100%;
  background-color: white;
}


/*#header {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(20, 20, 20, 0.8);
    border-top: 0px solid rgba(255, 255, 255, 1);
    border-bottom: 0px solid rgba(255, 255, 255, 1);
}*/

#siteheader {
  outline-color: 1px black;
}
